@use '../../styles/variables' as var;

.dropdown-container {
    color: var.$MainColor;


    button {
        color: var.$White;
        background: var.$MainColor;
        border: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;

        img {
            height: 9px;
            width: 16px;
        }
    }

    &.small {
        width: 335px;
        display: none;

        @media screen and (max-width: 767px) {
            display: block;
        }

        button {
            font-size: 13px;
            padding: 10px 6px;
            height: 30px;
        }
    }

    &.medium {
        width: 582px;


        button {
            height: 52px;
            font-size: 18px;
            padding: 10px 20px 10px 10px;
        }
    }

    &.large {
        width: 1023px;
        display: block;

        @media screen and (max-width: 767px) {
            display: none;
        }

        button {
            height: 52px;
            font-size: 24px;
            padding: 10px 15px 10px 15px;
        }
    }

    .hide-content {
        display: none;
    }

    .show-content {
        display: block;
        background: var.$Lightgrey;

        &.small {
            font-size: 12px;
            line-height: 17px;
            padding: 19px 20px;

        }

        &.large,
        &.medium {
            font-size: 18px;
            line-height: 25.5px;
            padding: 20px;
        }
    }
}