@use '../../styles/variables' as var;

.home-container {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 767px) {
        max-width: 335px;
    }



}