@use '../../styles/variables' as var;

.error-404 {
    display: flex;
    flex-direction: column;
    gap: 110px;
    justify-content: center;
    align-items: center;
    margin: 120px 0;

    img {
        @media screen and (max-width:767px) {
            width: 198px;
        }
    }

    p {
        font-size: 36px;

        @media screen and (max-width:767px) {
            font-size: 18px;
            text-align: center;
            margin: 0 70px;
        }
    }

    a {
        font-size: 18px;

        @media screen and (max-width:767px) {
            font-size: 14px;
        }
    }

    a,
    p {
        color: var.$MainColor;
        font-weight: 500;

    }
}