@use '../../styles/variables' as var;

.banner-container {
    background: black;
    width: 85vw;
    min-width: 335px;
    max-width: 1240px;
    margin: 0 auto;
    max-height: 223px;
    border-radius: 25px;
    position: relative;


    @media screen and (max-width: 426px) {
        max-width: 335px;
        height: 111px;
        border-radius: 10px;

    }

    img {
        opacity: 70%;
        width: 85vw;
        min-width: 335px;
        max-width: 1240px;
        margin: 0 auto;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;

        @media screen and (max-width: 426px) {
            max-width: 335px;
            height: 111px;
            border-radius: 10px;

        }

    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var.$White;
        font-weight: 500;
        font-size: 48px;
        width: 90%;
        text-align: center;

        @media screen and (max-width: 1023px) {
            font-size: 32px;
        }

        @media screen and (max-width: 426px) {
            text-align: start;
            font-size: 23px;
            left: 16px;
            transform: translateY(-50%);
            width: 217px;
        }
    }
}